*.sw?
.#*
*#
*~
.classpath
.settings
.java-version
bin/*.jar
build/
target/
dependency-reduced-pom.xml
*.sublime-*
/scratch
.gradle
README.html
.idea
*.iml
node/
node_modules/
out/
src/main/resources/static/built/
**/.DS_Store
